BasedOnStyle: Google
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Right
IncludeCategories: 
  - Regex:           '^<.*\.h>'
    Priority:        -2
  - Regex:           '^<.*'
    Priority:        -1
  - Regex:           '.*'
    Priority:        3

